{% extends 'layout.njk' %}

{% block content %}

<main class="container movies">

  {% for movie in movies %}
    <div>
      <img class="cover" src="{{movie.cove}}" alt="{{movie.title}}">
    </div>
  {% endfor %}

</main>

{% endblock content %}