{% extends 'layout.njk' %}

{% block content %}

<main class="container movies">

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

  <div>
    <img class="cover" src="https://s3.amazonaws.com/com.marvel.terrigen/prod/captainmarvel_lob_crd_06.jpg" alt="Captain Marvel">
  </div>

</main>

{% endblock content %}