<header>
  <div class="container">

    <div class="logo">
      <h1>📼</h1>
    </div>

    <ul class="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/managing/movies/create">Add Movie</a>
      </li>
    </ul>

    <ul class="in">
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Singin</a>
      </li>
    </ul>

  </div>

</header>